@font-face {
  font-family: 'minecraft';
  src: url('fuentes/Minecraft.ttf') format(truetype);
}

.btn-volver {
  position: fixed;
  top: 20px;      
  left: 20px;      
  
  font-size: 1.1em;
  color: rgba(255, 255, 255, 0.6); 
  text-decoration: none; 
  transition: all 0.3s;
  
}

.btn-volver:hover {
  color: rgba(255, 255, 255, 1); 
}


body {
  background: url('img/enchantingRoom.webp') no-repeat center center fixed;
  background-size: cover;
  font-family: "minecraft", sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}

.certificados {
  text-align: center;
  margin: 0 auto;
  padding: 60px 20px;
}

.certificados h2 {
  font-size: 2em;
  color: #55ff55;
  text-shadow: 2px 2px #000;
  margin-bottom: 40px;
}


.galeria-certificados {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  gap: 25px;
  max-width: 900px; 
  margin: 0 auto;
}


.libro {
  width: 120px; 
  text-decoration: none;
  color: inherit;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  transition: all 0.5s;
}

.libro img {
  width: 110px;
  height: 105px;
  object-fit: cover;
  
  border-radius: 100px;
 
  transition: all 0.4s;
  
}

.libro:hover img {
 
  box-shadow: 0 0 500px #842c87ac inset,
  0 0 10px rgba(91, 59, 85, 0.6) inset,
   0 0 50px rgba(233, 102, 253, 0.6);
}




.libro p {
  width: 100%; 
  text-align: center;
  margin-top: 8px;
  font-size: 0.9em;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
 
}
