@font-face {
  font-family: 'minecraft';
  src: url('fuentes/Minecraft.ttf') format(truetype);
}

.btn-volver {
  position: fixed;
  top: 20px;      
  left: 20px;      
  
  font-size: 1.1em;
  color: rgba(255, 255, 255, 0.6); 
  text-decoration: none; 
  transition: all 0.3s;
  font-family: "minecraft", sans-serif;
  
}

.btn-volver:hover {
  color: rgba(255, 255, 255, 1); 
}


/* Quita márgenes */
html, body{
  height: 100%;
  margin: 0;
}

/* Fondo completo clicable */
.hero-sign{
  width: 100vw;
  height: 100vh;
  border: 0;
  padding: 0;
  cursor: pointer;

  background-image: url("img/minecraft-oak-sign-model-3d-model-643c5fdbf2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: block;
}

/* Modal base */
.modal{
  display: none;
  position: fixed;
  inset: 0;
  z-index: 9999;
}

/* Overlay oscuro + blur */
.modal-overlay{
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.55);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

/* Caja del contenido */
.modal-content{
  position: relative;
  width: min(900px, calc(100% - 32px));
  margin: 6vh auto 0 auto;
  z-index: 1;
}

/* Botón cerrar */
.cerrar{
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background: rgba(0,0,0,0.35);
  color: white;
  font-size: 18px;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
}

/* Cartel grande  */
.cartel-grande{
  width: min(70vw, 900px);   
  margin: 0 auto;
  padding: 40px 30px;

  color: #2b1d0f;

  background-image: url("img/fullscreenSignpng.png"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 4px;
  box-shadow: 0 18px 50px rgba(0,0,0,0.35);
}


.cartel-grande h2,
.cartel-grande p{
  text-shadow: 0 2px 6px rgba(0,0,0,0.25);
  font-family: "minecraft", sans-serif;
}



