body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    color: #333;
}

h1 {
    color: #6e42cd;
    font-size: 1.8em;
    text-align: center;
}

h2 {
    color: #af45c7;
    font-size: 1.2em;
    margin-top: 30px;
}

p {
    font-size: 0.9em;
}
