body {
    background-color: rgb(183, 239, 255);
    margin: 0;

}

/* parte del titulo*/
.titol {
    width: 100%;
    background-image: url("Imatges/banner1.jpg");
    background-repeat: repeat;
    background-size: 50% 100%;
    text-align: center;
    align-content: center;

}


/*aqui faig un ombra negra per tot al vaoltant del títol una mica difuminada, també la espacio, cambio el tamaño y color*/
h1 {
    font-family: "titol";
    font-size: 400%;
    color: #ffe1fb;

    word-spacing: 15px;

    text-shadow:
        -2px -2px 3px #000,
         2px -2px 3px #000,
        -2px  2px 3px #000,
         2px  2px 3px #000;
}







iframe {
    width: 80%;
    height: 40em;
    border: none;

    /*centro el iframe*/
    display: block;
    margin: 0 auto;
}


footer {
    background-color: #9ed6ea;
    text-align: center;

    /*lo que ocupa el footer fuera del texto*/
    padding: 0.5em;
    font-size: 1em;
    color: #444;
    
}


/*la lista que representa los enlaces*/
ul {
    list-style-type: none;
   
}

li {
    display: inline;

}

li + li {
    margin-left: 15px;

}

/*caixa dels enllaços*/
a.caja {
  
  padding: 1em 2em;
  background-color: #010049;
  color: #ffffff;
  text-decoration: none;
  border: 2px solid #640096;
  border-radius: 12px;
  transition: all 0.3s;
}

/*canvis al hover*/
a.caja:hover {
  background-color: #4a5bb9; 
  color: #fff;
  border-color: #d988f7;
}

.menu {
    width: 100%;
    height: 4em;
    align-content: center;
    text-align: center;
    background-color: rgb(0, 0, 0);
}


/*fonts*/
@font-face {
    font-family: "titol";

    src: url("Fonts/Kensingnton-titol/KensingtonTest-CompressedBlack-BF65d815b68a0b7.otf") format(truetype);

}